{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "insertFinalNewline": true
}
