@import 'tailwindcss';

@theme {
  /*Colors */
  --color-main: #6a994e;

  --color-bg-primary: #151312;
  --color-bg-secondary: #181818;

  --color-stroke-focused: #f845fc;
  --color-stroke-grey: #bdbcdb;

  --color-text-white: #ffffff;
  --color-text-green: #6a994e;
  --color-text-disabled: #212121;
  --color-text-validation: #386641;
  --color-text-error: #f93232;
  --color-text-success: #439f6e;
  --color-text-light-green: #a7c957;

  --color-btn-bg: #6a994e;
  --color-btn-text: #ffffff;
  --color-btn-bg-hover: #a7c957;
  --color-btn-text-hover: #ffffff;
  --color-btn-bg-click: #386641;
  --color-btn-text-click: #ffffff;
  --color-btn-bg-disabled: #f4f3fe;
  --color-btn-text-disabled: #c5c0db;

  --color-btn-text-secondary: #ffffff;
  --color-btn-text-hover-secondary: #a7c957;
  --color-btn-text-click-secondary: #386641;
  --color-btn-text-disabled-secondary: #c5c0db;

  --color-form-color: #1e1e1e;
  --color-description: #7b7b7b;
  --color-input-text: #212121;
  --color-input-stroke-hover: #3d3d3d;
  --color-input-stroke-focused: #b5cca7;
  --color-input-text-disabled: #a5a5a7;
  --color-input-stroke-valid: #439f6e;
  --color-input-stroke-error: #ffd8d8;

  --color-grey: #3d3d3d;
  --color-grey-50: #3d3d3d80;
  --color-green: #6a994e;

  /*Typography */
  --font-uaf-sans: 'UAFSans', sans-serif;

  --text-4xl-40: 40px;
  --text-4xl-40--leading: 140%;

  /*Borders*/
  --radius-default: 10px;
  --radius-inner-card: 9px;

  /*Heights*/
  --height-guarantees-section: 550px;
  --height-header: 100px;
  --height-header-mobile: 85px;

  /*Widths*/
  --width-max-container: 1440px;

  /*Animation*/
  --animate-accordion-down: accordion-down 300ms ease-out;
  --animate-accordion-up: accordion-up 300ms ease-out;
  --animate-header-menu-in: slideIn 300ms ease-out;
  --animate-header-menu-out: slideOut 300ms ease-out;
}

body {
  font-family: var(--font-uaf-sans), sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-white);
  overflow-x: hidden;
}

.container-width {
  max-width: var(--width-max-container);
  margin: 0 auto;
}

.bg-divider-gradient {
  background-image: linear-gradient(
    to right,
    var(--color-grey-50),
    var(--color-green),
    var(--color-grey-50)
  );
}

.divider-stripes-8 {
  background-image: repeating-linear-gradient(
    to right,
    var(--color-bg-primary) 0 8px,
    transparent 8px 16px
  );
}

.divider-stripes-4 {
  background-image: repeating-linear-gradient(
    to right,
    var(--color-bg-primary) 0 4px,
    transparent 4px 8px
  );
}

.bg-card-gradient-left {
  background-image: linear-gradient(
    to bottom,
    var(--color-grey),
    var(--color-green),
    var(--color-grey)
  );
}

.bg-card-gradient-top {
  background-image: linear-gradient(
    to right,
    var(--color-grey),
    var(--color-green),
    var(--color-grey)
  );
}

.bg-guarantees-section {
  background-image: url('/images/guarantees-section-bg.webp');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.bg-hero-section {
  background-image: url('/images/hero-bg-image.webp');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.rotated {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.min-h-screen-minus-header {
  min-height: calc(100vh - var(--height-header));

  @media (max-width: 768px) {
    min-height: calc(100vh - var(--height-header-mobile));
  }
}

.underline-thick {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

@keyframes accordion-down {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
